@import "_variables.scss";
@import "_animate.scss";
@import "_fonts.scss";

$size-logo: 11mm;
$spacing-logo: calc((#{$max_size_element} - #{$size-logo}) / 2);
$fade_time: 2s;
$logo_and_text_width: auto;
$logo_and_text_height: calc(min(100vw, 100vh) * 0.3);
$slogan_font_size: calc(#{$logo_and_text_height} * 0.12);
$scroll_button_height: calc(#{$slogan_font_size} * 1.5);
$background_image_heigh: calc(100vh - #{$max_size_element});
$slogan_margin_top: calc(#{$spacing} * 1);

header {
  @include montserrat(600);
  letter-spacing: 0.2em;
}

.background_image {
  background: url(./_DSC2278.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: $background_image_heigh;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: stretch;
  .upper {
    .fade_in_img {
      @include animate_fade_in($fade_time, ease-out);
      display: flex;
      justify-content: center;
      img {
        height: $logo_and_text_height;
        width: $logo_and_text_width;
      }
    }
    .fade_in_text {
      @include animate_fade_in($fade_time, ease-in-out);
      display: flex;
      justify-content: center;
      .text {
        color: white;
        margin-top: $slogan_margin_top;
        font-size: $slogan_font_size;
      }
    }
  }
  .scroll {
    @include animate_fade_in($fade_time, ease-in);
    display: flex;
    justify-content: center;
    img {
      @include animate_move_scroll($fade_time);
      width: auto;
      height: $scroll_button_height;
    }
  }
}

.navigation_bar {
  z-index: 1;
  .navigation_container {
    background-color: black;
    height: $max_size_element;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .openbutton,
    .cart,
    .logo {
      position: relative;
      cursor: pointer;
      width: aut;
    }
    .openbutton,
    .cart {
      height: $size-element;
      text-align: right;
      top: $spacing;
    }
    .logo {
      top: $spacing-logo;
      height: $size-logo;
    }
    .openbutton {
      left: $spacing;
    }
    .cart {
      right: $spacing;
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.no_sticky {
  position: static;
}
