@import "_fonts.scss";
.myTable {
  @include montserrat(400);
  text-align: center;
  img {
    width: auto;
    height: 20px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    tr:nth-child(even) {
      background: #ccc;
    }
    tr:nth-child(odd) {
      background: #fff;
    }
  }
}
