@import "_variables.scss";
$column_width: 33vw;

.container {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.site_footer {
  background-color: black;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
  hr {
    border-top-color: white;
    width: 90vw;
  }
  h6 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  a {
  }
}
.footer_links {
  padding-left: 0;
  list-style: none;
  li {
    display: block;
    padding-top: 3mm;
  }
  a {
    color: white;
  }
}

.copyright_text {
  margin: 0;
}
