$max_size_element: 14mm;
$size-element: 6mm;
$spacing: calc((#{$max_size_element} - #{$size-element}) / 2);
$width-button-spacing: calc(10 * #{$spacing});
$background-color: white;
$text-color: black;
$separator-line-color: black;
$separator-line-width: calc(100% - 2cm);

.closebutton {
  cursor: pointer;
  height: $size-element;
  width: auto;
}
.sidenavigation {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $background-color;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10mm;
  a {
    padding: $spacing $spacing $spacing $spacing;
    text-decoration: none;
    color: $text-color;
    display: block;
    text-align: center;
    font-size: $size-element;
    .closebutton {
      position: absolute;
      top: $spacing;
      left: $spacing;
    }
  }
}
hr {
  border-top: 1px solid $separator-line-color;
  width: $separator-line-width;
  border-bottom: 0px;
}
