@import "_variables.scss";
@import "_fonts.scss";

$width-button-spacing: calc(10 * #{$spacing});
$background-color: white;
$text-color: black;
$separator-line-color: black;
$separator-line-width: calc(100% - 2cm);

.text {
  @include montserrat(400);
  letter-spacing: 0.1em;
  color: $text-color;
  text-align: center;
  font-size: $size-element;
}

.closebutton {
  cursor: pointer;
  height: $size-element;
  width: auto;
}

.darken_background {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
}

.sidenavigation {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $background-color;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10mm;
  .side_navigation_list {
    padding-top: $max_size_element;
    a {
      padding: $spacing $spacing $spacing $spacing;
      text-decoration: none;
      display: block;
    }
  }
}
.closebutton {
  position: absolute;
  top: $spacing;
  left: $spacing;
}
hr {
  border-top: 1px solid $separator-line-color;
  width: $separator-line-width;
  border-bottom: 0px;
}
