@import "_variables.scss";

$box_spacing_top: 2mm;
$box_spacing_bottom: 6mm;
$box_spacing_left: 8mm;
$box_spacing_right: calc(1.5mm + #{$box_spacing_left});
$inner_box_spacing: 2mm;
$cp: 210;

.box {
  margin-top: $box_spacing_top;
  margin-bottom: $box_spacing_bottom;
  margin-right: $box_spacing_right;
  margin-left: $box_spacing_left;
  padding: $inner_box_spacing $inner_box_spacing $inner_box_spacing
    $inner_box_spacing;
  text-decoration: none;
  display: block;
  background-color: white;
  border-radius: 4px;
  border: thick solid rgb($cp, $cp, $cp);
  border-width: 1px;
}
