@import "_variables.scss";

$box_spacing_top: 2mm;
$box_spacing_bottom: 6mm;
$box_spacing_left: 8mm;
$box_spacing_right: calc(1.5mm + #{$box_spacing_left});
$inner_box_spacing: 1mm;
$color_box: 230;

.box {
  margin-top: $box_spacing_top;
  margin-bottom: $box_spacing_bottom;
  margin-right: $box_spacing_right;
  margin-left: $box_spacing_left;
  padding: $inner_box_spacing $inner_box_spacing $inner_box_spacing
    $inner_box_spacing;
  text-decoration: none;
  display: block;
  background-color: rgb($color_box, $color_box, $color_box);
  border-radius: 10px;
}
